<h2 class="h2title">Lookup: "<%= @lookup %>"</h2>
<h2 class="h2title">Title Found: "<%= @title %>"</h2>
<p><img src="<%= @bookcover %>"></p>
<p>Author: <%= @authors %></p>
<p>Published: <%= @publishedDate %></p>
<!--p>Description:</p-->
<p class="pClass">Description: <br><%= @description %></p>
